
.container{
    display: flex;
    position: relative;
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}
.linkbox{
    display: grid;
    grid-template-columns: 50px/20px;
    width: 200px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom,white,black);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.514);
    padding: 50px;
}
a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background: grey;
    color: rgb(227, 227, 227);
    border: solid black 3px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.514);
    margin: 10px;
    
}
h2{
    color: rgb(244, 244, 244);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.411);
}
a:hover{
    background: rgb(50, 50, 50);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.514);
    transition: box-shadow .05s ease-in-out;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
    border-width: 5px;
    border-color: black;
    border: solid;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.514);
}
.aniFloat{
    animation: aniFloat 6s ease-in-out 5s infinite;
}
.fadeIn{
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes aniFloat {
    0%{
        transform: scale(1);
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.514);
    }
    50%{
        transform: scale(1.03);
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.514);
    }
    100%{
        transform: scale(1);
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.514);
    }
    
}